.pop-up-con {
    background-color: #f8f6f6;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid #7c8189;
    border-radius: 20px;
}

.line {
    width: 400px;
}

.pop-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pop-up-head1 {
    font-weight: bold;
    font-size: 20px;
}

.pop-up-head2 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
}

.pop-up-para {
    margin-top: 0;
    padding-top: 0;
}

input {
    background-color: transparent;
    border: 1px solid #7c8189;
    padding: 5px 10px;
    border-radius: 5px;
}

.pop-up-next {
    background-color: #f18912;

    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    width: 400px;
    margin-top: 10px;

    font-size: 20px;
}

.pop-up-next a {
    color: white;
    text-decoration: none;
}
.input-container {
    width: 600px;
    position: relative;
    margin-bottom: 1rem; /* Adjust spacing as needed */
  }
  
.input-label {
    position: absolute;
    top: -0.7rem; /* Adjust to position label correctly */
    left: 1rem; /* Adjust to position label correctly */
    background-color: transparent; /* Ensure label text is readable */
    padding: 0 0.5rem; /* Adjust padding for label */
    color: #888; /* Adjust label text color */
    border-radius: 10px;
  }
  
.input-box {
    border: 2px solid #ccc; /* Basic input border */
    padding: 0.5rem; /* Adjust padding as needed */
    width: 40%; 
    height:40px
  }