/* .pop-up-con {
    background-color: transparent;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid #7c8189;
    border-radius: 20px;
} */

/* .line {
    width: 400px;
} */

.pop-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pop-up-head1 {
    font-weight: bold;
    font-size: 20px;
}

.pop-up-head2 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
}

.pop-up-para {
    margin-top: 0;
    padding-top: 0;
}

input {
    background-color: transparent;
    border: 1px solid #7c8189;
    padding: 5px 10px;
    border-radius: 5px;
}

.pop-up-next {
    background-color: #f18912;

    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    width: 400px;
    margin-top: 10px;

    font-size: 20px;
}

.pop-up-next a {
    color: white;
    text-decoration: none;
}

.input-container {
    width: 600px;
    position: relative;
    margin-bottom: 1rem;
    /* Adjust spacing as needed */
}

.input-label {
    position: absolute;
    top: -0.7rem;
    /* Adjust to position label correctly */
    left: 1rem;
    /* Adjust to position label correctly */
    background-color: #fff;
    /* Ensure label text is readable */
    padding: 0 0.5rem;
    /* Adjust padding for label */
    color: #888;
    /* Adjust label text color */
    border-radius: 10px;
}

.input-box {
    border: 2px solid #ccc;
    /* Basic input border */
    padding: 0.5rem;
    /* Adjust padding as needed */
    width: 40%;
    height: 40px
}

.packages-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.packages-para1 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 8px;
}

.packages-para2 {
    font-size: 20px;
    font-weight: 500;

    color: #4e545f;
}

.packages-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.packages-con-items {
    padding: 15px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}.packages-con-items-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.packages-con-items-content2{
    margin-top: 20px;
}

.participate-pop-up {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-top: auto;
}

.packages-con-items-con {
    list-style: none;
    margin-bottom: 20px;
    font-size: 20px;
    color: #4e545f;
    
   

}

.divider {
    margin: 5px 0;
    /* Adjust spacing as needed */
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
   
}